/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #8649e9;

  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  overflow-x: hidden;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(0, 53%, 74%);
  --button-color: hsl(240, 1%, 26%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(240, 1%, 25%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop {
  color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(0, 0%, 30%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

.header {
  width: 100%;
  background: var(--container-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  gap: 1rem;
}

.nav__logo-icon {
  width: 48px;
  height: 48px;
  fill: var(--first-color);
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__shop {
  position: relative;
}

.nav__shop .count {
  position: absolute;
  bottom: 0px;
  right: -7px;
  width: 16px;
  height: 16px;
  padding: .25rem;
  background-color: var(--title-color);
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/****************************** INDEX 2   ****************/
.img {
  margin-left: 80px;
  margin-top: 120px;
}

.img2 {
  margin-left: 72px;
  margin-bottom: 5px;
  margin-top: 100px;
}

.img3 {
  margin-left: 72px;
}

.title1 {
  margin-top: 5px;
  margin-left: 92px;
  margin-right: 120px;
  margin-bottom: 50px;
  border-bottom: 2px solid var(--first-color);

}

.title2 {
  margin-top: 5px;
  margin-left: 90px;
  margin-bottom: 50px;
  border-bottom: 2px solid var(--first-color);
  margin-right: 120px;
}


.title3 {
  margin-top: 5px;
  margin-left: 90px;
  margin-bottom: 50px;
  border-bottom: 2px solid var(--first-color);
  margin-right: 50px;
}


.cs {
  display: flex;
  margin-top: 150px;
  margin-bottom: 5px;
  justify-content: center;
  width: 100%;
  height: 300px;
  flex-direction: column;
}

.box-cb {
  display: flex;
  margin: 50px, 25px, 25px, 5px;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.support_center {

  margin-top: 25px;
  display: flex;
  width: 80%;
  height: 80px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.country {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  justify-content: space-evenly;
  gap: 15px;
  align-content: stretch;
  align-items: center;
  border-right: 2px solid var(--first-color);
}

.country2 {
  border-right: none;
}

.country p {
  font-size: small;
  text-align: center;
}

.country h3 {
  color: var(--first-color);
}

.we_mision {
  margin-left: 225px;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: auto;
  justify-content: space-around;
  gap: 80px;
  align-content: stretch;
  align-items: flex-start;
}

.group {
  margin-top: 100px;
  display: flex;
  width: 90%;
  height: 500px;
  flex-direction: column;
}

.autor {

  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-items: center;
  align-content: center;
  align-items: end;

}

.autor p {
  display: flex;
  border-right: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
  width: 190px;
  height: 50px;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: 0 5px 10px var(--first-color);


}

.autor p:last-child {
  grid-column: 2/3;
}

.autor p:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 10px var(--first-color);
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 90%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px var(--first-color);
}

.card .front img {
  position: absolute;
  width: 50%;
  height: 50%;
  align-items: center;
  object-fit: cover;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 45px;
  color: var(--card-color);
  background: var(--first-color);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: var(--card-color);
  padding: 15px;
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px var(--first-color);
}

.card .back .link {
  border-top: solid 1px var(--blanco);
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: var(--blanco);
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--card-color);
  width: 100%;
}

.group {
  width: 100%;
}

.footer__container {

  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__list,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.bx {
  border-radius: 10px;
  color: #F26250;
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.autor a{
  color: #706f73;
}


/*=============== BREAKPOINTS ==
    /*ABOUT */
@media screen and (max-width: 767px) {
  .img {
    margin-left: 30px;
  }

  .img2 {
    margin-left: auto;
    margin-top: 100px;
  }

  .we {
    text-align: center;
  }

  .img3 {
    margin-left: 72px;
  }

  .title1 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 250px;
    border-bottom: 2px solid var(--first-color);
  }

  .title2 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--first-color);
    margin-right: 180px;
  }

  .title3 {
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--first-color);
    margin-right: 50px;
    font-size: small;
  }

  .cs {
    display: flex;
    margin-top: 150px;
    margin-left: 0px;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box_cb {
    display: flex;
    margin: 150px, 25px, 25px, 25px;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .support_center {
    margin-left: 35px;
    margin-top: 25px;
    display: flex;
    width: 80%;
    height: 80px;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .country {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    gap: 15px;
    align-content: stretch;
    align-items: center;
    border-bottom: 2px solid var(--first-color);
  }

  .country2 {
    border-right: 2px solid var(--first-color);
  }

  .country p {
    font-size: small;
    text-align: center;
  }

  .country h3 {
    color: var(--first-color);
  }

  .we_mision {
    margin-left: 225px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: auto;
    justify-content: space-around;
    gap: 80px;
    align-content: stretch;
    align-items: flex-start;
  }

  .group {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
  }

  .autor {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .autor p {
    display: flex;
    border-right: 1px solid var(--first-color);
    border-bottom: 1px solid var(--first-color);
    width: 190px;
    height: 50px;
    border-radius: 1px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
  }

  .autor p:hover {
    transform: translateY(-6px);
    box-shadow: var(--button-shadow);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For small devices */


@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .home__img-bg {
    width: 800px;
    height: 100px;

    align-items: center;
  }

  .home__img-bg .home__img {
    width: 225px;
    height: 222px;

    align-items: center;
  }

  .home__btns {
    display: grid;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .home__button {
    font-size: var(--smaller-font-size);
  }

  .products__filters {

    grid-template-columns: auto;
    justify-content: center;
  }

}

@media screen and (min-width: 320px) {
  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .home__img-bg {
    width: 800px;
    height: 100px;
    padding: 20px;
    align-items: center;
  }

  .home__img-bg .home__img {
    width: 251px;
    height: 245;
    padding: 20px;
    align-items: center;
  }

}


@media screen and (max-width: 575px) {
  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .home__img-bg {
    width: 100%;
    height: 300px;
    padding: 20px;
    align-items: center;
  }

  .home__img-bg .home__img {
    width: 90%;
    height: 245;
    padding: 20px;
    align-items: center;
  }

  .products__filters {

    grid-template-columns: auto;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .home__img-bg {
    width: 100%;
    height: 300px;
    padding: 20px;
    align-items: center;
  }

  .hom .home__img-bg {
    width: 100%;
  }





  .products__content {
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 766px) {
  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .home__img-bg {
    width: 100%;
    height: 300px;
    padding: 20px;
    align-items: center;
  }

  .home__img-bg .home__img {
    width: 351px;
    height: 345;
    padding: 20px;
    align-items: center;
  }


}

@media screen and (max-width: 767px) {
  .home__container {
    padding-top: 6rem;
    grid-template-rows: auto;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {

  .home__container {
    padding-top: 26rem;
    grid-template-rows: auto;
    align-items: center;
  }

  .section {
    padding: 8rem 0 1rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .home__img-bg {
    width: 100%;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }

  .nav__btns {
    margin-left: auto;
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  .home__img-bg {
    order: 1;
    transform: translate(1.5rem, -6rem);
  }

  .home__img-bg .home__img {
    width: 351px;
    height: 345;
    padding: 20px;
    align-items: center;
  }

  .home__data {
    padding: 0 0 3rem;
  }


  .products__filters {
    grid-template-columns: repeat(4, 200px);
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  .footer__title {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 992px) {

  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__container {
    column-gap: 2rem;
  }

  .home__img-bg {
    width: 480px;
    height: 680px;
  }

  .home__img {
    width: auto;
  }

  .home__data {
    padding: 0 0 8rem;
  }

  .products {
    padding: 4rem 0 10rem;
  }

  .products__filters {
    grid-template-columns: repeat(4, 200px);
    margin: 4rem 0 5.5rem;
  }

  .products__content {
    grid-template-columns: repeat(3, 262px);
    justify-content: initial;
    column-gap: 5rem;
  }

  .products__card {
    border-radius: .75rem;
  }

  .products__img {
    width: 200px;
  }

  .products__shape {
    padding: 2rem 0;
    border-radius: .75rem .75rem 0 0;
  }

  .products__data {
    padding: 1rem 0 1.5rem 1.5rem;
  }

  .products__name {
    font-size: var(--h2-font-size);
  }

  .products__button {
    font-size: 1.5rem;
    padding: .75rem;
    right: 1.5rem;
    top: -1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__btns {
    display: grid;
    grid-template-columns: auto auto;
  }

  .scrollup {
    right: 3rem;
  }
}